{% extends "./base/base.html" %}

{% block extendCSS %}
<style>
  div.outer {
    height: 70vh;
  }
  div.chatarea {
    width: 100%;
    height: 80%;
    overflow: auto;
  }
  .right {
    text-align: right;
  }
</style>
{% endblock %}

{% block content%}
  <div class="container" ng-controller="DropdownCtrl">
    <div class="row">
    <!-- sidebar start -->
      <aside class="col-md-3">
        <div class="row">
          <div class="alert alert-info col-md-10">
            <ul class="nav">
            {% if d.test.filename %}
              <li class="dropdown" data-toggle="dropdown">
                <a class="dropdown-toggle" ng-click="showDrowdown()">Test<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu" ng-hide="!dropdown">
                  {% for k, file in d.test.filename %}
                  <li><a>{{ file }}</a></li>
                  {% endfor %}
                </ul>
              </li>
            {% endif %}
            </ul>
          </div>
        </div>
      </aside>
      <!-- end sidebar -->
      <article class="col-md-9">
        <div class="row">
          <div class="well col-md-12 outer">
            <div class="chatarea alert alert-warning"></div>
            <form ng-submit="submitText()">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="輸入些東西吧" ng-model="newtext">
                <div class="input-group-btn">
                  <button type="reset" class="btn btn-danger text-clean">清除</button>
                  <button type="submit" class="btn btn-primary text-submit">送出</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </article>
    </div>
  </div>
{% endblock %}

{% block footerJS %}
    <script>
    /**
     * Save data to local storage with limit number of items
     * @param  {Object} opt json style with {
     * opt = [save(save new data),
     *   get(get data according to key) -- default,
     *   cleanup(cleanup all stored data)],
     * data(data to store to localStorage),
     * key(key to identification 'cahttext' is default key)}
     * @return {[type]}     [description]
     */
    function saveLocal (opt) {
      // try {
        /* number of items can be stored */
        var limit = 20,
        op = opt.opt || 'get',
        key = opt.key || 'chattext',
        data = opt.message || 'no data',
        val = [];
        if('save' === op) {
          /* already in localStorage */
          if(key in localStorage) {
            val = localStorage.getItem(key);
            val = JSON.parse(val);
            if(val instanceof Array) {
              if(val.length >= limit) {
                /* remove oldest data */
                val.shift();
              }
            } else {
              localStorage.removeItem(key);
            }
          }

          val.push(data);
          val = JSON.stringify(val);
          localStorage.setItem(key, val);
          return JSON.parse(val);
        } else if('get' === op) {
          /* get data from localStorage */
          if(key in localStorage) {
            val = localStorage.getItem(key);
            return JSON.parse(val);
          } else {
            return false;
          }
        } else if('cleanup' === op) {
          return localStorage.clear();
        }
      // } catch(e) {
      //   console.log('error occured');
      //   console.dir(e);
      //   return false;
      // }
    }
    </script>

    <script>
    var socket = io.connect();
    socket.on('connect', function () {
      socket.on('newtext', function (data) {
        // var t = new Date(),
        t = new Date(data.sendEpoch),
        n = {
          year: t.getFullYear(),
          month: (t.getMonth() + 1) < 10 ? ('0' + (t.getMonth() + 1)) : (t.getMonth() + 1),
          date: (t.getDate()) < 10 ? ('0' + t.getDate()) : t.getDate(),
          hour: (t.getHours()) < 10 ? ('0' + t.getHours()) : t.getHours(),
          min: (t.getMinutes()) < 10 ? ('0' + t.getMinutes()) : t.getMinutes(),
          sec: (t.getSeconds()) < 10 ? ('0' + t.getSeconds()) : t.getSeconds()
        },
        now = n.year + '/' + n.month + '/' + n.date + ' ' + n.hour + ':' + n.min + ':' + n.sec;

        saveLocal({opt: 'save', message: data});

        document.querySelector('.chatarea').innerHTML += '<div><span title="' + data.username + '">' + data['display_name'] + '</span>&nbsp;<span>[' + now + ']&nbsp;</span>&nbsp;:&nbsp;' + data.message + '</div>';
      });
    });
    </script>
{% endblock %}

{% block footer %}
<footer>
  <nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Kimz</a>
    </div>
  </nav>
</footer>
{% endblock %}
